@use '../../abstracts' as *;

.hero {
    @include base-flex(flex, space-between, stretch, column);

    @include desktop {
        min-height: 70vh;
    }

    @include desktop-max {
        min-height: 53vh;
    }

    & h2 {
        text-align: right;

        @include desktop-max {
            max-width: 50%;
            margin-left: auto;
        }
    }
}