@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-gray-100: #f3f2f2;
  --color-gray-300: #cccccc;
  --color-gray-350: #c2bfbc;
  --color-gray-400: #aaaaaa;
  --color-gray-600: #79736d;

  --color-brown-900: #1b1a18;
  --color-red-500: #df0000;

  /* --- COLORES DE MARCA --- */
  --color-brand-primary: var(--color-black);
  --color-brand-accent: var(--color-brown-900);
  --color-surface: var(--color-white);

  /* --- COLORES DE TEXTOS --- */
  --color-content-primary: var(--color-black);
  --color-content-secondary: var(--color-gray-600);
  --color-content-tertiary: var(--color-gray-400);
  --color-content-inverse: var(--color-white);
  --color-content-danger: var(--color-red-500);

  --color-ui-border-primary: var(--color-black);
  --color-ui-border-secondary: var(--color-gray-300);
  --color-ui-hover: var(--color-gray-300);

  /* --- TIPOGRAFÍA (Helvetica) --- */
  --font-sans: 'Helvetica', 'Arial', sans-serif;

  /* --- ASPECT RATIOS --- */
  --aspect-image-horizontal: 1.2;
  --aspect-image-vertical: 0.8;

  /* --- ESCALA DE TEXTO --- */
  --text-2xs: 10px;
  --text-2xs--line-height: 1;

  --text-xs: 12px;
  --text-xs--line-height: 1;

  --text-sm: 14px;
  --text-sm--line-height: 1;

  --text-base: 16px;
  --text-base--line-height: 1;

  --text-lg: 20px;
  --text-lg--line-height: 1;

  --text-xl: 24px;
  --text-xl--line-height: 1;

  /* --- Z-INDEX --- */
  --z-index-base: 10;
  --z-index-sub-header: 20;
  --z-index-header: 50;

  /* --- BREAKPOINTS --- */
  --breakpoint-mobile: 393px;
  --breakpoint-tablet: 834px;
  --breakpoint-desktop: 1440px;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  --animate-fade-in: fadeIn 1s ease-out;
}

/* --- CONFIGURACIÓN BASE --- */
@layer base {
  body {
    @apply bg-surface text-content-primary font-sans font-[300] antialiased;
    font-size: 16px;
    line-height: 1;
  }

  img {
    @apply h-auto max-w-full;
  }
}

@layer utilities {

  /* Ocultar barra de scroll para Chrome, Safari y Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Ocultar barra de scroll para IE, Edge y Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}