@import 'tailwindcss';

@theme {
  /* --- COLORES BASE (Primitivos) --- */
  --color-white: #FFFFFF;
  --color-black: #000000;

  /* Escala de Grises (Ajustada para realismo) */
  --color-gray-300: #CCCCCC;
  --color-gray-400: #AAAAAA;
  --color-gray-600: #79736D;

  --color-brown-900: #1B1A18;
  --color-red-500: #DF0000;

  /* --- COLORES DE MARCA (Identidad) --- */
  --color-brand-primary: var(--color-black);
  --color-brand-accent: var(--color-brown-900);
  --color-surface: var(--color-white);

  /* --- COLORES DE CONTENIDO (Jerarquía de lectura) --- */
  --color-content-primary: var(--color-black);
  --color-content-secondary: var(--color-gray-600);
  --color-content-tertiary: var(--color-gray-400);
  --color-content-inverse: var(--color-white);
  --color-content-danger: var(--color-red-500);

  --color-ui-border-primary: var(--color-black);
  --color-ui-border-secondary: var(--color-gray-300);
  --color-ui-hover: var(--color-gray-300);

  /* --- TIPOGRAFÍA (Helvetica) --- */
  --font-sans: "Helvetica", "Arial", sans-serif;

  /* --- ASPECT RATIOS --- */
  --aspect-image-horizontal: 1.2;
  /* Proporción 6:5 */
  --aspect-image-vertical: 0.8;
  /* Proporción 4:5 */

  /* --- ESCALA DE TEXTO (Tamaño + Line-Height 100%) --- */
  /* En CSS, line-height: 100% es equivalente a 1 */

  --text-2xs: 10px;
  --text-2xs--line-height: 1;

  --text-xs: 12px;
  --text-xs--line-height: 1;

  --text-sm: 14px;
  --text-sm--line-height: 1;

  --text-base: 16px;
  --text-base--line-height: 1;

  --text-lg: 20px;
  --text-lg--line-height: 1;

  --text-xl: 24px;
  --text-xl--line-height: 1;

  /* --- Z-INDEX --- */
  --z-index-header: 50;

  /* --- BREAKPOINTS --- */
  --breakpoint-mobile: 393px;
  --breakpoint-tablet: 834px;
  --breakpoint-desktop: 1980px;
}

/* --- CONFIGURACIÓN BASE --- */
@layer base {
  body {
    @apply bg-surface text-content-primary font-sans antialiased font-[300];
    font-size: 16px;
    line-height: 1;
  }

  /* Para que el producto con fondo blanco se integre bien */
  img {
    @apply max-w-full h-auto;
  }
}

@layer utilities {

  /* Ocultar barra de scroll para Chrome, Safari y Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Ocultar barra de scroll para IE, Edge y Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}